{% import 'OroUIBundle::macros.html.twig' as UI %}
{% set containerExtraClass = containerExtraClass is defined ? containerExtraClass : '' %}
<div class="widget-content marketing-activities {{ containerExtraClass }}">
    {% set pager11 = {
        current: 1,
        pagesize: 2,
        total: 1,
        count: 1,
        sortingField: oro_config_value('oro_activity_list.sorting_field')
    } %}
    {% block widget_content %}

        {% block widget_actions %}
        <div class="grid-toolbar">
            <div class="filter-box oro-clearfix-width">
                <div class="filter-container"></div>
            </div>
            <div class="pull-right">
                <div class="actions-panel pull-right">
                    {{ UI.clientLink({
                        'aCss': 'action btn',
                        'iCss': 'fa-refresh',
                        'label': ' ' ~ ('Refresh'|trans),
                        'dataAttributes': {'action-name': 'refresh', 'section': 'top'}
                    }) }}
                </div>
            </div>
            <div class="pagination">
                <ul class="icons-holder">
                    <li class="pagination-previous {% if pager11.current == 1 %} disabled {% endif %}">
                        <a href="#" data-section="top" data-action-name="goto_previous">
                            <i class="fa-chevron-left hide-text"></i>
                            {% if oro_config_value('oro_activity_list.sorting_direction') == 'DESC' %}
                                {{ 'oro.activitylist.pagination.newer'|trans }}
                            {% else %}
                                {{ 'oro.activitylist.pagination.older'|trans }}
                            {% endif %}
                        </a>
                    </li>
                    <li class="pagination-next">
                        <a href="#" data-section="top" data-action-name="goto_next">
                            {% if oro_config_value('oro_activity_list.sorting_direction') == 'DESC' %}
                                {{ 'oro.activitylist.pagination.older'|trans }}
                            {% else %}
                                {{ 'oro.activitylist.pagination.newer'|trans }}
                            {% endif %}
                            <i class="fa-chevron-right hide-text"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        {% endblock %}
        {% block items_container %}
            {% set options = {
                widgetId: app.request.get('_wid'),
                ignoreHead: oro_config_value('oro_activity_list.grouping') == false,
                activityListData: render(path(
                    'oro_marketing_activity_api_get_marketing_activities',
                    {
                        entityClass: oro_class_name(entity, true),
                        entityId: entity.id
                    }
                )),
                activityListOptions: {
                    configuration: configuration,
                    template: '#template-marketing-activities',
                    itemTemplate: '#template-marketing-activities-item',
                    urls: {
                        route: 'oro_marketing_activity_api_get_marketing_activities',
                        parameters: {
                            entityClass: oro_class_name(entity, true),
                            entityId: entity.id
                        }
                    },
                    loadingContainerSelector: '.marketing-activities',
                    pager: pager11,
                    dateRangeFilterMetadata: dateRangeFilterMetadata,
                    routes: {}
                }
            } %}

            <div class="container-fluid accordion"
                data-page-component-module="oroactivitylist/js/app/components/activity-list-component"
                data-page-component-options="{{ options|json_encode }}"></div>
            {% include 'OroActivityListBundle:ActivityList:js/list.html.twig' with {'id': 'template-marketing-activities'} %}
            {% include 'OroMarketingActivityBundle:MarketingActivity:js/marketingActivitySectionItem.html.twig' with {'id': 'template-marketing-activities-item'} %}
            {% for activityClass, activityOptions in configuration %}
                {% include activityOptions.template with {'id': ('template-activity-item-' ~ activityClass) } %}
            {% endfor %}
        {% endblock %}

    {% endblock %}
</div>
